body{
    width: auto;
    height: auto;
    background-color: darkblue;
}
h1{
    color: aquamarine;
}

p{
    font-size: medium;
    font-weight: bold;
    color: black;
    background-color: darkkhaki;
}
